* {
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #f2f2f2;
  border: 2px solid #222222;
  height: 100vh;
  box-sizing: border-box;
}

div {
}

#header {
  position: absolute;
  top: 30px;
  left: 40px;
  font-size: 25px;
  font-weight: 500;
}

#welcome {
  margin: auto;
  display: flex;
  position: relative;
  top: 122px;
  width: 80%;
}

#welcome > h1 {
  font-weight: 500;
  font-size: 40px;
  flex: 1;
}

#add {
  cursor: pointer;
}
#add h1 {
  font-size: 40px;
}

.add-edit-section {
  width: 70%;
  margin: auto;
  height: 65vh;
  padding: 30px;
  position: absolute;
  top: 150px;
  left: 25%;
  margin-left: -11%;
  background-color: #f2f2f2;
  border: 2px solid #222222;
  box-shadow: 5px 5px 0px 0px #22222288;
  z-index: 2;
}

.add-edit-section > img {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  object-fit: cover;
  background-color: #999999;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: #f2f2f286;
  z-index: 1;
}

.add-edit-form {
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 50px;
  top: 50px;
}

.add-edit-form > input {
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;

  border: none;
  border-bottom: 2px solid #222222;
  font-size: 30px;
  background: none;
}

.add-edit-form > button {
  width: 150px;
  height: 75px;
  position: absolute;
  bottom: -100px;
  right: 0px;

  font-size: 25px;
  background-color: #f2f2f2;
  border: 2px solid #222222;
  box-shadow: 5px 5px 0px 0px #22222288;
  cursor: pointer;
  transition: 0.1s;
}

.add-edit-form > button:hover {
  bottom: -98px;
  right: 2px;
  box-shadow: 7px 7px 0px 0px #22222288;
  transition: 0s;
}

.add-edit-form > button:active {
  bottom: -102px;
  right: -2px;
  box-shadow: 0px 0px 0px 0px #22222288;
}

#submit-button {
  right: 200px;
}

#edit-section {
  position: absolute;
  top: -100px;
}

#edit-overlay {
  position: absolute;
  top: -200px;
  left: -200px;
  width: 100vw;
  z-index: 2;
}

#card-container {
  margin: auto;
  width: 80%;
  position: relative;
  top: 170px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.card-element-container {
  border: 2px solid #222222;
  width: 100%;
  height: 275px;
  cursor: pointer;
  background-color: #f2f2f2;
  box-shadow: 5px 5px 0px 0px #22222288;
  position: relative;
  bottom: 0px;
  right: 0px;
}

.card-element-container:hover {
  bottom: 2px;
  right: 2px;
  box-shadow: 7px 7px 0px 0px #22222288;
}

.card-element-container:active {
  bottom: -2px;
  right: -2px;
  box-shadow: 0px 0px 0px 0px #22222288;
}

.card-element-container > img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.card-element-container > h3 {
  padding-left: 15px;
  padding-top: 5px;
  font-size: 27px;
}

.card-element-container > h4 {
  padding-left: 15px;
  font-size: 20px;
  font-weight: 300;
}
